@font-face {
  font-family: 'hello-honey';
  src: local('Hello Honey'), local('Hello-Honey'), url(./fonts/hello-honey.otf) format('opentype');
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
